/* Reset */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { 
	margin: 0; padding: 0; 
}
body, html,div,ul,a,img,p{
	font-size: 100%;
	border:none;
}
html, body{
    width: 100%;
    display: block;
}
html{
    height: 100%;
}
body{
	/*overflow-y:scroll;*/
}
#noscroll{
	width:100%;
	height: 100%;
	overflow: hidden;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}


body {
	color: #111;
	/*font-family: 'Century Gothic', 'Open Sans','Helvetica', 'Arial',sans-serif;*/
	font-family: 'Open Sans','Helvetica', 'Arial',sans-serif;
	background: url('img/back.png');
	background-color: #fff;
}
ul li{
	list-style: none;
}
a {
	color: #111;
	text-decoration: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
}
a:hover {
	color: #006DB6;
	text-decoration: underline;
}
/*----Переходы при 1280, 960, 480---------*/
@media screen and (max-width: 1280px){
}
@media screen and (max-width: 960px){
}
@media screen and (max-width: 480px){
}


/*
Настройки плагинов
------------------------------------------
*/


/* Галерея */
.fancybox-skin {
	border-radius: 0;
	border: none;
	background: #eee;
	color:#111;
}
.fancybox-title {
    padding: 10px;
    line-height: 20px;
}
.fancybox-title span{
	font-weight: bold;
	color:#000;
	font-size: 16px;
}


/* blueberry слайдер*/
.blueberry { margin: 0 auto; position: relative; }
.blueberry .slides {
	display: block;
	position: relative;
	overflow: hidden;
}
.blueberry .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.blueberry .slides li img {
	display: block;
	width: 100%;
	max-width: none;
}
.blueberry .slides li.active { display: block; position: relative; }
.blueberry .crop li img { width: auto; }

.blueberry .pager {
	height: 40px;
	text-align: center;
}
.blueberry .pager li { display: inline-block; }
.blueberry .pager li a,
.blueberry .pager li a span {
	display: block;
	height: 10px;
	width: 10px;
}
.blueberry .pager li a {
	padding: 15px 10px;
-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
	border-radius: 10px;
}
.blueberry .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
	border-radius: 10px;
}
.blueberry .pager li.active a span { background: #404040; }

/* слайдер фона главной страницы */
.fullscreen .slides {
 	position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.fullscreen .slides li {
	display: card_list-item;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	
	/* для всех ie */
	background:url(/img/back/slider/2.jpg)\0/;
	background-position: 50% 30%\0/;
}
.fullscreen .slides li:nth-child(1){
	background-image: url(/img/slider/1.jpg);
}
.fullscreen .slides li:nth-child(2){
	background-image: url(/img/slider/2.jpg);
}
.fullscreen .slides li:nth-child(3){
	background-image: url(/img/slider/3.jpg);
}
.fullscreen .slides li:nth-child(4){
	background-image: url(/img/slider/4.jpg);
}
.fullscreen .slides li:nth-child(5){
	background-image: url(/img/slider/5.jpg);
}
.fullscreen .slides li:nth-child(6){
	background-image: url(/img/slider/6.jpg);
}




/*
Основные стили
------------------------------------------
######################################################
*/

.c_traditions{
	background-color: #704F40 !important;
	color:#eee !important;
}
.c_inside-out{
	background-color: #333 !important;
	color:#eee !important;
}
.c_school2013{
	background-color: #634577 !important;
	color:#fff !important;
}
.c_vesna2013{
	background-color: #0FC0C0 !important;
	color:#eee !important;
}



/* Текст */
h1{
	font-size: 3em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.5em;
}
p{
	font-size: 1em;
}



/* Полотно 960px */
.sheet{
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
	display: block;
	color:#000;
	text-align: justify;
	transition: all ease .3s;
}
.sheet h1,
.sheet h2,
.sheet h3,
.sheet h4,
.sheet p,
.sheet li{
	margin:0 1% 5px;
	font-weight: normal;
}
.sheet h1{
	margin: 20px 1%;
	font-size: 3em;
}
.sheet h2{
	font-size: 2em;
}
.sheet h3{
	font-size: 1.5em;
}
.sheet h4{
	font-size: 1.25em;
}
.sheet p{
	margin: 0 1% 10px;
	font-size: 1em;
}
.sheet img{
	max-width: 100%;
}
@media screen and (max-width: 960px){
	.sheet{
		width:100%;
	}
}
@media screen and (max-width: 480px){
	.sheet h1{
		margin: 10px 1%;
		font-size: 2em;
	}
	.sheet h2{
		font-size: 1.5em;
	}
	.sheet h3{
		font-size: 1.25em;
	}
	.sheet p{
		margin: 0 1% 5px;
		font-size: 1em;
	}
}


/* Формы */
form span{
	display: block;
	font-size: 1em;
}
form span:after{
	content: ': ';
}
input,textarea,select{
	padding: 15px 10px;
	display: block;
	margin:5px 0 10px;
	font-size: 1em;
	outline-color: #2980B9;
}
.submit{
	display: block;
	width: 100%;
	padding: 15px 0px;
	background: #2980B9;
	text-align: center;
	color: #eee;
	cursor: pointer;
}
.submit:hover{
	background: #3498DB;
	color: #fff;
}


/* Кнопки */
.button{
	display: block;
	width: 100%;
	padding: 15px 0px;
	background: #2980B9;
	text-align: center;
	font-size: 1.25em;
	color: #eee;
	cursor: pointer;
}
.button:hover{
	background: #3498DB;
	color: #fff;
	text-decoration: none;
}
.button span{
	display: block;
	padding:0;
	font-size: 0.6em;
	font-weight: normal;
	color: #D1E7F7;
}


/* Маленькая галерея */
.s_gallery{
	display: block;
	position: relative;
	width: 100%;
}
.s_gallery li{
	display: block;
	position: relative;
	float: left;
	width: 23%;
	margin: 0 1% 1%;
	overflow: hidden;
}
.s_gallery li a{
	display: block;
}
.s_gallery li .img{
	max-height: 200px;
	overflow: hidden;
}
.s_gallery img{
	width: 100%;
	height: auto;
	display: block;
}
@media screen and (max-width: 480px){
	.s_gallery li{
		width: 48%;
	}
}


/* Список карточками */
.card_list > li{
	position: relative;
	margin:0;
	padding:10px 0 20px;
	cursor: pointer;
}
.card_list > h3{
	padding: 12px 8px;
	margin: 0;
	color: #FFF;
	background: #0F4C74;
	font-size: 1em;
	cursor: pointer;
	transition: all ease .1s;
}
.card_list li h2{
	font-size: 1.2em;
	margin-bottom: 0;
}
.card_list li p{
	color: #666;
}
/*---------------*/
.card_list > li:hover{
	background: #2980B9;
}
.card_list > li:hover h2{
	color:#fff;
}
.card_list > li:hover p{
	color:#ddd;
}
/*---------------*/
.card_list li.active {
	background:url('img/bg_white50.png');
}
.card_list > li.active:hover h2{
	color:inherit;
}
.card_list > li.active:hover p{
	color:#666;
}

@media screen and (max-width: 480px){
	.card_list li{
		padding: 5px 20px;
	}
	.card_list li h2{
		font-size:16px;
	}
}


/* Сетка */
.grid > li{
	float:left;
	width:23%;
	margin:0 1%;
	text-align: left;
}
.grid h1,
.grid h2,
.grid h3,
.grid h4{
	margin: 0;
	text-align: inherit;
}
.grid p{
	margin:0;
}
.grid img.ico{
	display: block;
	margin: 0 auto;
}
.grid .right{
	text-align: right;
}
.grid > li.g2of4{
	width:48%;
}
.grid > li.g3of4{
	width:73%;
}
.grid > li.g4of4{
	width:98%;
}

@media screen and (max-width: 960px){
	.grid > li{
		width: 48%;
	}
	.g3of4,
	.g4of4{
		width: 98%;
	}
	.grid{
		padding: 0 1%;
	}
	.grid img{
		width: auto;
	}
	.grid .right{
		text-align: inherit;
	}
}
@media screen and (max-width: 480px){
	.grid > li{
		width: 98%;
	}
	.grid img{
		width: auto;
	}
	.grid h2,	
	.grid h3{
		/*font-size: 16px;*/
	}
	.grid p{
		/*font-size: 14px;*/
	}
}


/* товары */
.goods li{
	padding-bottom: 20px;
}
.goods li .img{
	min-height: 140px; /* удалить */
	max-height: 140px;
}
.goods li h2{
	display: block;
	font-size: 1.25em;
	text-align: left;
	font-weight: bold;
	text-decoration: underline;
	min-height: 2.5em;
}
.goods li h2,.goods li p{
	padding: 0;
}
.goods li h2:hover{
	color: #4755B6;
}
.goods li p{
	font-size: 14px;
	min-height: 2em;
}
.goods li span{
	font-weight: bold;
	padding-right: 5px;
}
.price{
	position: relative;
	margin:2px auto 0;
	padding: 5px 10px;
	max-width: 100%;
	font-weight: bold;
}
.price:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: -10px;
    margin-left: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #2980B9;
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.price:hover:after{
    border-bottom-color: #3498DB;
}

/*  Заголовок  */
.center{
	color: #666;
	text-align: center;
}
.center h1{
	margin: 0;
}
.center p{
	font-size: 1.25em;
}


/* широкая секция */
.section{
	position: relative;
	padding:100px 0;
	color: #eee;
	background-size: 100%;
	background-repeat:no-repeat;
	transition:all ease .2s;
}
.section .img{
	display: inline-block;
	float: left;
	margin: 0 0 0 10%;
	text-align: center;
}
.section .quote{
	display: inline-block;
	max-width: 50%;
	float: left;
	margin: 0 0 0 10%;
}
/* подсветки*/
.section .back_white h1,
.section .back_black h1{
	margin: 0;
}
.section .back_white,
.section .back_black{
	padding: 40px 40px;
	width: 100%;
}
/* светлая подсветка */
.section .back_white{
	background: url('img/bg_white50.png');
	color:#111;
}
.section .back_white p{
	color: #333;
}
.section .back_white a:hover{
	color:#000;
}
/* темная подсветка */
.section .back_black{
	background: url('img/bg_black50.png');
	color:#ddd;
}
.section .back_black p{
	color: #ccc;
}
.section .back_black a:hover{
	color:#fff;
}
.section h1{
	font-size: 64px;
	margin-top: 20px;
	color: inherit;
}
.section a{
	color: inherit;
}
.section a:hover{
	color: #fff;
	text-decoration: none;
}
.section p{
	font-size: 1.25em;
	color:#ccc;
}
.section .img p{
	color: inherit;
}
.section .img .small{
	color: #ccc;
	font-size: 1em;
}

.section:nth-child(odd) .img{
	float:right;
	margin: 0 10% 0 0;
}
.section:nth-child(odd) .quote{
	float:right;
	text-align: right;
	margin: 0 10% 0 0;
}



/* Формы в секции */
.section input,
.section textarea{
	width: 100%;
}
.section .submit{
	color: #eee;
}
.section .submit:hover{
	color: #fff;
}


@media all and (max-width: 960px){
	.section{
		padding: 30px 2%;
		text-align: center;
	}
	.section .img,
	.section .quote{
		float: none !important;
		width: 100% !important;
		margin: 0 !important;
	}
	.section:nth-child(odd) .img
	.section:nth-child(odd) .quote{
		text-align: inherit;
		float: none;
		width: 100%;
		margin: 0;
	}
	.section .back_white,
	.section .back_black{
		max-width: 100%;
	}
	.section:nth-child(odd) .quote{
		text-align: center;
	}
	.section h1{
		font-size: 42px;
		margin-top: 5px;
	}
	.section p{
		font-size: 16px;
	}
}


/* Сообщения */
.message{
	display: block;
	width: 100%;
	padding: 20px;
	margin: 10px 0;
	color: #fff;
	background: #2980B9;
	font-size: 1em;
	font-style: 'Arial',sans-serif;
	cursor: pointer;
}
.message p{
	color: inherit;
}
.alert{
	background: #F1690F;
}
.alert:hover{
	background: #F1690F;
}
.success{
	background: #2ECC71;
}
.success:hover{
	background: #2ECC71;
}
.error{
	background: #E74C3C;
}
.error:hover{
	background: #E74C3C;
}


/* Блок категорий товаров */
.categs{
	position: relative;
	padding: 20px 0 20px;
	color: #666;
	font-size: 1em;
}
.categs ul.grid > li > ul{
	margin: 0.7em 0 1.25em 0;
}
.categs ul.grid > li > ul > li{
	display: block;
	margin: 0;
}
.categs h3{
	color: #000;
	font-weight: normal;
	margin:0 0 5px 0;
}
.categs h4{
	color: #bbb;
	margin-top:20px;
	margin-bottom: 5px;
}
.categs a{
	display: block;
	color: inherit;
	text-decoration: none;
}
.categs a:hover{
	color: #000;
	padding: 0 5%;
}
.categs a:active{
	color: #000;
}

@media all and (max-width: 960px){
	.categs ul.grid > li:nth-child(odd){ 
		width: 40%;
		margin: 0 5%;
	}
	.categs ul.grid > li:nth-child(odd){ 
		text-align: right;
	}
}


/* Логотип */
#main_logo img{
	display: block;
	width: 100%;
}


/* Верхняя полоска */
.topline{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	z-index: 10;
}
.topline > a{
	position: absolute;
	display: block;
	top:8px;
}

.topline a#logo{
	left:8px;
	width:45px;
	height: 45px;
	background: url('img/logo.png');
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.topline a#logo:hover{
	top: 5px;
	background-size: 105%;
	-webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.topline #logo_text{
	left:60px;	
	width:416px;
	height:56px;
	background: url('img/trikota_black.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center left;
	-webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.topline #logo_text h1 span{
	display: none;
}
.topline #logo_text:hover{
	top: 5px;
	width:418px;
	height: 57px;
		-webkit-transform: rotate(-1.5deg);
        -moz-transform: rotate(-1.5deg);
        -o-transform: rotate(-1.5deg);
        -ms-transform: rotate(-1.5deg);
        transform: rotate(-1.5deg);
}

.top_menu{
	position: absolute;
	top:12px;
	left:500px;
	padding-right: 76px;
	height: 45px;
	overflow: hidden;
}
.top_menu li{
	display: inline-block;
	padding-right: 20px;
}
.top_menu li a{
	position: relative;
	font-size: 25px;
	line-height: 45px;
	color: #111;
}
.top_menu li a:hover{
	color: #000;
	border-bottom: 1px solid #111;
	text-decoration: none;
}

.topline #phone{
	top:12px;
	right: 0px;
	height: 45px;
	padding:0px 10px;
	color: #111;
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
}
.topline #phone span{
	font-size: 17px;
	padding-right: 3px;
}

@media screen and (max-width:1280px){
	.topline #logo_text {
		width: 310px;
	}
	.topline #logo_text{
		left: 45px;
	}
	.topline #logo_text:hover{
		width:315px;
	}

	.top_menu{
		left:365px;
	}
	.top_menu li{
		padding-right: 5px;
	}
	.top_menu li a{
		font-size: 20px;
	}

	.topline #phone{
		padding: 0 5px;
		font-size: 24px;	
	}
}
@media screen and (max-width:960px){
	#logo_text{
		display: none;
	}


	.top_menu{
		left:60px;
	}
	.top_menu li{
		padding-right: 5px;
	}
	.top_menu li a{
		font-size: 16px;
		line-height: 22px;
	}


	.topline #phone{
		padding: 0 5px;
		font-size: 18px;	
		line-height: 22px;
	}
	.topline #phone span{
		font-size: 12px;
		padding-right: 0;
	}
}
@media screen and (max-width:480px){
	.topline #phone{
		display: none;
	}
	.top_menu{
		padding-right: 0;
	}
	.top_menu li a{
		font-size: 13px;
	}
}


/* Футер */
.footer{
	position: relative;
	padding: 60px 5% 40px;
	color: #6E7880;
	background-color: #3F4A52;
	font-size: 1em;
}
.footer .grid{
	width:80em;
	max-width: 90%;
	margin:0 auto;
}
.footer .grid > li{
	min-height: 500px;
}
.footer ul.grid > li > ul{
	margin: 0.7em 0 2.5em 0;
}
.footer ul.grid > li > ul > li{
	display: block;
}
.footer h3{
	color: #fff;
	font-weight: normal;
	margin:0 0 5px 0;
}
.footer h4{
	color: #bbb;
	margin-top:20px;
	margin-bottom: 5px;
}
.footer a{
	display: block;
	color: inherit;
	text-decoration: none;
}
.footer a:hover{
	color: #fff;
	padding: 0 5%;
}

#vk{
	line-height: 31px;
	padding-right: 36px;
	background: url('img/vk_b.png') no-repeat;
	background-position: 100% 0%;
}
#vk:hover{
	padding-right: 45px;
	background: url('img/vk_g.png') no-repeat 100% 0%;
}

/* Копирайт снизу */
.copyright{
	background-color: #101E28;
	color: #47525A;
	padding: 20px 5%;
	line-height: 45px;
	text-align: center;
}
.copyright a.footer_logo {
	float: left;
	line-height: 0;
}




/*
Далее идет описание конкретных страниц
######################################################
*/




/* ------ страница Карта с магазинами ----- */
#map{
	position: fixed;
	top: 0;
	left:0;
}
.map .topline{
	position: fixed;
}


/* список магазинов */
.map .sheet{
	width: 480px;
	padding: 70px 0 0;
	float:right;
	box-shadow: 0 0 2px #111;
}
.map .sheet h1{
	margin:0 5% 10px;
	text-align: left;
	font-size:2em;
}
.map .card_list h2,
.map .card_list p{
	margin:0 5%;
}
.map .card_list .info{
	display: none; 
}
.map .s_gallery {
	padding:0 5% 10px;
}


/* :hover посмотреть на карте */
.map .card_list > li:hover{
	background-image: url('img/pointer.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 70px;
}
.map .card_list > li:hover h2:after{
	content: "показать на карте";
	position: absolute;
	right:75px;
	bottom:8px;
	font-size: 12px;
	font-weight: 100;
	color:#eee;
}
.map .card_list > li.active:hover{
	background:url('img/bg_white50.png');
}
.map .card_list li.active:hover h2:after{
	content: '';
}




/* ------ страница Новости ------ */
.news li{
	padding:30px 2%;
	font-size: 18px;
}
.news li span{
	font-size: 16px;
	color: #666;
}
.news li h2{
	font-size: 28px;
	line-height: 30px;
	margin: 5px 0;
}
.news li p{
	margin:0;
	color: #666;
}




/* ------ страница О компании ------ */
.slider_text{
	position: absolute;
	top:20px;
	left:20px;
	font-family: 'Century Gothic','Arial',sans-serif;
	color:#222;
}
.slider_text h1{
	color: #000;
	font-size: 1.75em;
}
.slider_text li{
	margin:20px 0;
}
.slider_text h3{
	margin: 0 0 5px;
	color: #000;
}
.slider_text p{
	font-weight: normal;
	color: inherit;
}
.slider_text a{
	color: inherit;
}
.slider_text a:hover{
	color: #000;
}


/*Сотрудничество*/
#partnership{
	background: #ADDFFF;
	color: #111;
}
#partnership .img{
	float:left;
}
#partnership .quote{
	float:left;
	text-align: left;
}
#partnership .quote p{
	color:#666;
}
#partnership form{
	margin-top: 20px;
}
#partnership .img p{
	color: #111;
}
#partnership .img .small{
	color: #666;
}


/* Вакансии */
#jobs{
	position: relative;
	margin-top: 20px;
}
#jobs h3{
	text-align: center;
}
#jobs .bg{
	position: absolute;
	width: 300%;
	height:100%;
	top: 0px;
	left:-100%;
	background: #E4EFFF;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #fff;
	box-shadow: inset 0 0px 5px #999;
	z-index: -1;
}
#jobs .grid li{
	min-height: 550px;
}




/* ------ страница История компании ------ */
.company-timeline-toc{
	padding:5px 0;
	margin: 5px 1%;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.company-history{
	margin:0 1%;
}
.company-history h2 {
	border-bottom: 1px solid #666;
	margin: 20px 0 30px;
	padding: 5px 0;
	color:#111;
}
.company-history h3 {
	float: left;
	font-size: 13px;
	line-height: 17px;
	margin: 0;
	width: 83px;
}
.company-history ul {
	margin: 0 0 20px;
	padding: 0;
}
.company-history li {
	margin: 0 0 10px 92px;
}




/* ------ страница Галерея моделей ------ */

/* Срелки навигации */
.arrow{
	position: fixed;
	display: table;
	width:100px;
	height: 100%;
	top:0;
	right:0;
	z-index: 8;
	opacity: 1;
	overflow: hidden;
}
.arrow:hover{
	background: url('img/bg_white50.png');
}
.arrow a{
	position: relative;
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align:middle; 
	cursor: pointer;
	z-index: 99999;
	opacity: 1;
	overflow: hidden;
	text-align: center;
}
.arrow a span{
	display:block;
	width: 32px;
	height: 54px;
	margin-left: 34px;
	background: url('img/arrows.png') no-repeat;
}
#to_left{
	left: 0;
}
#to_left a span{
}
#to_right a span{
	background-position: top right;
}
@media screen and (max-width: 960px){
	.arrow{
		width: 50px;
	}
	.arrow a span{
		margin-left: 8px;
	}
}


/* сама галерея */
.collection_slider{
	display: block;
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
}
.collection_slider li{
	display: block;
	position: relative;
	height: 100%;
	float:left;
}


/* большая картинка */
.big_image{
	display: block;
	float: left;
}


/* описание что на фото */
.desc{
	display: block;
	float:left;
}


/* для горизонтальных экранов */
.horisontal,.vertical{
	position: relative;
}
.horisontal .big_image{
	width: auto;
	height: 100%;
}
.horisontal .desc li h2{
	font-size: 1em;
	line-height: 1em;
	min-height: 2em;
}


/* для вертикальных экранов */
.vertical .big_image{
	position: relative;
	width: 100%;
	float: none;
	height: auto;
	padding: 0 25%;
	z-index: 3;
	background:url('img/back.png');
}
.vertical .desc{
	width: 100%;
	margin-top:0;
}
.vertical .goods li{
	white-space: nowrap;
	padding: 0;
	z-index: 0;
}
.vertical .goods li .img{
	max-height: 60px;
}
.vertical .goods li .img img{
	margin-top: -20px;
}
.vertical .goods li h2{
	font-size: 1em;
	min-height: 1em;
}
.vertical .goods li p{
	min-height: 1em;
}
.vertical .price span{
	display: none;
}
.vertical .price{
	padding:5px 10px;
	width: auto;
	font-size: 1em;
}


/* подпись фото "на девушке" */
.desc > h3{
	display: block;
	padding: 12px 8px;
	color: #FFF;
	background: #2980B9;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	cursor: pointer;
	transition: all ease .1s;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #000;
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-left: 4px solid rgba(0, 0, 0, 0);
	content: "";
}
.desc > h3 .caret {
	margin-top: 6px;
	margin-left: 10px;
	border-left-width: 4px;
	border-right-width: 4px;
	border-top-width: 6px;
	border-bottom-color: #fff;
	border-style: solid;
	border-bottom-style: none;
	border-top-color: #fff;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}
.desc > h3:hover{
	background:#3498DB;
}
.desc > h3.active{
	background: #0F4C74;
}
.desc > h3.active .caret{
	margin-top: 4px;
	margin-top: 4px;
	border-top: none;
	border-bottom: 6px solid #fff;
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-left: 4px solid rgba(0, 0, 0, 0);
}
.desc > h3.active:hover{
	background: #156496;
}
.desc .goods{
	display: none;
}

@media screen and (max-width: 960px){
}


/* ------ страница Категория товаров ------ */


/* конкретные категории */
#pants{
	background: url(/img/catalog/pants.jpg) 50% 0 fixed;
}


/* ------ страница Товара ------ */

/* квардатик ссылки на корзину */
.cart_anchor{
	position: absolute;
	right:0;
	top:90px;
	width: 100px;
	height: 100px;
	color: #111;
	background-color:#2ECC71;
	background-image: url('img/cart.png');
	background-position: 50% 10%;
	background-size: 30px;
	background-repeat: no-repeat;
	font-size: .75em;
	z-index: 8;
}
.cart_anchor p{
	margin-top:30px;
}
.cart_anchor a{
	padding: 5px;
	width: 100%;
	height: 100%;
	display: block;
	color: inherit;
	text-align: center;
}
.cart_anchor span{
	font-weight: bold;
}

/* мелкие слева от большой */
#good_preview{
	width: 14%;
	float:left;
	margin-right: 1%;
}
#good_preview .s_gallery{
	width: 100%;
	
}
#good_preview .s_gallery li{
	float: none;
	width: 100%;
	margin: 0 0 5px 0;
}


/* большая картинка */
#good_image{
	width: 34%;
	float:left;
	margin-right: 1%;
}
#good_image a img{
	width: 100%;
}


/* Блок всей инфы справа */
#good_desc{
	width: 50%;
	float:left;
}


/* Логотип */
#product_brand a{
	font-size: .9em;
	text-align: center;
	text-decoration: underline;
}
#product_brand a span{
	font-weight: bold;
}
#product_brand .logo .hide{
	display: none;
}
#product_brand .logo:hover img{
	display: none;
}
#product_brand .logo:hover .hide{
	display: inline;
}


/* Назание продукта*/
#good_desc .product_title{
	margin-top:70px;
}
#good_desc .product_title a{
	text-decoration: underline;
}
#good_desc h1{
	margin: 0px 0 10px;
	font-size: 2em;
	line-height: 1em;
}
#good_desc p{
	/*font-size: .9em;*/
}
#good_desc p span{
	font-weight: bold;
	padding-right: 10px;
}
#product_price{
	text-align: center;
	margin: 10px 0 10px;
}


/* другие виды товаров */
#good_desc .s_gallery li{
	width: 14.5%;
}
#good_desc .s_gallery li a{
	display: block;
	max-height: 120px;
	overflow: hidden;
}


/* кнопка добавить в заказ  */
#good_desc .price{
	padding: 20px;
	background: #888;
}
#good_desc .price:hover{
	background: #999;
}
#good_desc .price a{
	color: #e5e5e5;
	text-decoration: underline;
}
#good_desc .price a:hover{
	color: #fff;
}	

#good_desc .price.active{
	background-color:#2980B9; 
}
#good_desc .price.active:hover{
	background-color:#3498DB; 
}

#good_desc .price.success{
	background-color:#2ECC71; 
	color:#111;
	cursor: default;
}
#good_desc .price.success a{
	color:#2A6D46;
}
#good_desc .price.success a:hover{
	color:#111;
}
#good_desc .price.success:hover{
	background-color:#2ECC71; 
}


/* Треугольник кнопки */
#good_desc .price:after{
    content: '';
    position: absolute;
    left: -16px;
    top: 50%;
    margin-top:0px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 16px solid #888;
}
#good_desc .price:hover:after{
	 border-right-color:#999;
}

/*  Треугольник активной кнопки */
#good_desc .price.active:after{
	 border-right-color:#2980B9;
}
#good_desc .price.active:hover:after{
    border-right-color: #3498DB;
}

/*  Треугольник кнопки успеха*/
#good_desc .price.success:after{
	border-right-color:#2ECC71; 
}
#good_desc .price.success:hover:after{
	border-right-color:#2ECC71; 
}


/* спросить о товаре */
#good_desc .ask{
	padding: 5px;
	font-size: 0.75em;
}
#good_desc .ask{
	color: #888;
	background: #333;
}
#good_desc .ask:hover{
	color:#eee;
	background: #222;
}


/* мелкие ссылки */
.about{
	padding-left: 1%;
	margin: 20px 0;
	color: #666;
}
.about a{
	color: #888;
}
.about a:hover{
	text-decoration: underline;
}


@media all and (max-width: 960px){
	#good_preview,
	#good_image,
	#good_desc{
		display: :block;
		width: 100%;
		float: none;
	}
	#good_desc p,
	#good_desc .to_cart,
	#good_desc .ask{
		margin: 0 10% 0;
		width: auto;
	}
	#good_desc .product_title p{
		margin: 0;
	}
	#good_preview .s_gallery li {
		width: 16.5%;
		max-height: 100px;
		float: left;
		margin: 0;
	}
	#product_brand{text-align: center;}
	#product_brand img{margin: 0 auto;}
	.product_title{
		margin: 70px 10% 0;
	}
	.about{
		text-align: center;
	}
	#good_desc .price:after{
		border:none;
	}

}




/*------ страница Коллекции ------*/
#collections{
	margin: 0 auto;
}
#collections .column {
	position: relative;
	float: left;
	width: 240px;
	padding-top: 400px;
	color: #787878;
	font-size: 11px;
}
#collections .promo {
	left: 6px;
	top: 0px;
	width: 230px;
	height: 392px;
	display: block;
	position: absolute;
	outline: none;
	border: none;
	text-align: right;
	padding: 0;
	font-size: 16px;
	-moz-box-shadow: 0 0 20px #000;
	-webkit-box-shadow: 0 0 10px #1E2023;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
#collections #collection-io .promo {
	background: url("/img/collections/inside-out/logo.png") 0 0 no-repeat;
}
#collections #collection-trad .promo {
	background: url("/img/collections/traditions/logo.png") 0 0 no-repeat;
}
#collections #collection-school2013 .promo {
	background: url("/img/collections/school/logo.png") 0 0 no-repeat;
}
#collections #collection-vesna2013 .promo {
	background: url("/img/collections/vesna2013/logo.png") 0 0 no-repeat;
}
#collections .promo .game-tip {
	position: absolute;
	top: 7px;
	padding: 5px 25px 5px 5px;
	width: 215px;
	right: 7px;
	color: #B2BAC7;
}
#collections .promo span {
	padding-right: 35px;
	background: rgba(0, 0, 0, 0) url("img/promo-arrow.gif") 100% -3px no-repeat;
}
#collections #collection-io .promo.hover{
	background-position: -248px 0;
	opacity: 0;
	transition: opacity 400ms ease;
	-webkit-transition: opacity 400ms ease;
	-moz-transition: opacity 400ms ease;
}
#collections #collection-io .promo.hover, 
#collections #collection-trad .promo.hover, 
#collections #collection-school2013 .promo.hover, 
#collections #collection-vesna2013 .promo.hover {
	background-position: -248px 0;
	opacity: 0;
	transition: opacity 400ms ease;
	-webkit-transition: opacity 400ms ease;
	-moz-transition: opacity 400ms ease;
}
#collections #collection-io .promo.hover:hover, 
#collections #collection-trad .promo.hover:hover, 
#collections #collection-school2013 .promo.hover:hover, 
#collections #collection-vesna2013 .promo.hover:hover, 
#collections #collection-io .promo.hover:focus, 
#collections #collection-trad .promo.hover:focus, 
#collections #collection-school2013 .promo.hover:focus, 
#collections #collection-vesna2013 .promo.hover:focus {
	opacity: 1;
}
@media all and (max-width:960px){
	#collections{
		width: 720px;
	}
}
@media all and (max-width:720px){
	#collections{
		width: 480px;
	}
}
@media all and (max-width:480px){
	#collections{
		width: 240px;
	}
}
/* отзывы счастливчиков */
#reviews li{
	background: none;
}
#reviews li{
	color: #333;
}
#reviews li a:hover{
	color: #000;
}
#reviews p{
	color: #666;
}
#reviews .img .small{
	color: #666;
}
#reviews li a.submit{
	color: #eee;
}

/* цвета коллекций */
.collections li.traditions{
	background-color: #fcddcc;
	color:#663F2E;
}

/*---------*/
.collections li.school{
	background-color: #464163;
	color:#eee;
}
/*---------*/
.collections li.inside-out{
	background-color: #241f25;
	color: #eee;
}
/*---------*/
.collections li.vesna2013{
	background-color: #3AA6C2;
	color:#fff;
}

/*------ Галерея - сетка ------*/
.gallery li{
	display: block;
	float: left;
	width: 25%;
	height: auto;
	position: relative;
	overflow: hidden;
	margin: 0;
	cursor: pointer;
	transition:all ease .3s;
}
.gallery img{
	display: block;
	width:100%;
	height:auto;
	transition:all ease .3s;
}

@media screen and (max-width: 960px){
	.gallery li{
		width: 33.3333%;
	}
}

@media screen and (max-width: 480px){
	.gallery li{
		width: 50%;
	}
}


/* ------ Корзина ------ */
#cart > li{
	position: relative;
	border-bottom: 1px solid #BBB;
	padding-bottom: 5px;
}
#cart > li:last-child{
	border-bottom: none;
}
#cart > li a.img{
	display: block;
	width: 100px;
	height: 100px;
	float: left;
	overflow: hidden;
	margin-right: 10px;
}
#cart > li .img img{
	width: 100%;
}
#cart .prop{
	font-size: 0.75em;
}
#cart .prop span{
	background: #2980B9;
	padding: 3px 6px;
	color: #eee;
}
#cart .cart_desc p{

}
#cart input{
	display: inline;
	margin: 0;
	padding: 5px;
	margin-right: 20px;
}
#cart > li span.cart_price{
	font-size: 1.5em;
	margin-left: 20px;
}

/* удалить из корзины */
#cart .delete{
	position: absolute;
	top:5px;
	right: 5px;
	width: 16px;
	height: 16px;
	background: #efe;
	background: url(img/close.png) no-repeat;
}
#cart .delete:hover{
	background: url(img/close_dark.png) no-repeat;
}
#cart .delete:hover span{
	display:inline;
	text-decoration: underline;
} 
#cart .delete span{
	display: none;
	position: absolute;
	top: 0;
	right: 25px;
	width: 200px;
	text-align: right;
	font-size: 0.85em;
	line-height: 1em;
	color:#C71F1F;
}


@media screen and (max-width: 480px){
	#cart .cart_desc,
	#cart > li a.img{
		width: 100%;
		float:none;
	}
	#cart > li a.img{
		height:200px;
	}
	#cart > li a.img img{
		margin-top: -50px;
	}
	#cart > li{
		border-bottom: none;
	}
	
	#cart input {
		margin: 0;
	}
	#cart > li span.cart_price{
		margin: 0;
		font-size: 1.5em;
	}
}